a {
  text-decoration: none;
}

html,
body,
container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.react {
  height: 100%;
}

.nav {
  margin: 0;
  color: white;
  background: #337ab7;
  width: 21rem;
  -ms-flex: 0 1rem;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -ms-box-flex: 0;
  box-flex: 0;
  display: flex;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  margin: 0;
  background: #f5f8ff;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: inherit;
}

span[class*='glyphicon-one-fine'] {
  padding-top: 0.46em;
  padding-right: 0.4em;
}

.glyphicon-one-fine-green-dot:before {
  content: '\25cf';
  font-size: 0.7em;
  color: #34a853;
}

.glyphicon-one-fine-empty-dot:before {
  content: '\25cb';
  font-size: 0.7em;
}

.btn-primary {
  border: none;
}
